html {
	text-align: center;
	font-size: 50%;
	//font-family: 'Orbitron', sans-serif;
	font-family: 'Press Start 2P', system-ui;
	//background-color: #447744;
	//color: #dddddd;
	color: #669966;
}
h1.title {
	font-size: 200%;
	margin-bottom: 10px;
}
span {
	font-size: 70%;
}
div {
	align: center;
	margin: 0 auto;
}
div#board {
	width: 200;
	height: 200;
	position: relative;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 150%;
}
div.cell {
        text-align: center;
	width: 25px;
	height: 25px;
	border: 2px #99dd99 solid;
	position: absolute;
	padding-top: 5px;
}
div.hover_plus {
        background-color: #00ffff;
}
div.hover_minus {
        background-color: #ff00ff;
}
div.stack_plus {
        background-color: #99ffff;
}
div.stack_minus {
        background-color: #ff99ff;
}
